<h1>Edit volunteer</h1>
<%= form_for(@volunteer) do |vol_form| %>
  <%= vol_form.fields_for :user do |user_form| %>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :first_name %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :first_name, class: "form-control col-sm-8" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :last_name %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :last_name, class: "form-control col-sm-8" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :email %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :email, class: "form-control col-sm-8" %>
      </div>
    </div>
    <%= user_form.fields_for :address do |addr_form| %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :street_address_1 %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :street_address_1, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :street_address_2 %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :street_address_2, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :city %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :city, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :state %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :state, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :zip_code %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :zip_code, class: "form-control col-sm-8" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>