<div class="container">
<h1>Edit Account Details</h1>
<%= form_for(@volunteer) do |vol_form| %>
  <%= vol_form.fields_for :user do |user_form| %>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :first_name %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :first_name, class: "form-control col-sm-8" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :last_name %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :last_name, class: "form-control col-sm-8" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= user_form.label :email %><br>
      </div>
      <div class="col-sm-8">
        <%= user_form.text_field :email, class: "form-control col-sm-8" %>
      </div>
    </div>
    <%= user_form.fields_for :address do |addr_form| %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :street_address_1 %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :street_address_1, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :street_address_2 %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :street_address_2, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :city %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :city, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :state %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :state, class: "form-control col-sm-8" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= addr_form.label :zip_code %><br>
        </div>
        <div class="col-sm-8">
          <%= addr_form.text_field :zip_code, class: "form-control col-sm-8" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= vol_form.label :type, "Role", class: "control-label" %>
    </div>
    <div class="col-sm-8">
      <%= vol_form.select :type, [ 'Driver', 'Host', 'Driver & Host'], {}, {prompt: 'Select a Role', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= vol_form.label :on_call, "On-Call", class: "control-label" %>
    </div>
    <div class="col-sm-8">
      <%= radio_button("volunteer", "on_call", true) %>
        <%= label_tag("Yes") %>
      <%= radio_button("volunteer", "on_call", false) %>
        <%= label_tag("No") %>
    </div>
 </div>
 <div class="form-group row">
    <div class="col-sm-4">
      <%= vol_form.label :on_call, "Gender", class: "control-label" %>
    </div>
    <div class="col-sm-8">
      <%= radio_button("volunteer", "gender", "F") %>
        <%= label_tag("Female") %>
      <%= radio_button("volunteer", "gender", "M") %>
        <%= label_tag("Male") %>
    </div>
  </div>
  <div class="row" style="text-align:right;margin:40px">
    <div class="col-sm-4">
      <%= vol_form.submit 'Submit', :class => "btn btn-primary"%>
      <%= link_to 'Back', url_for(:back), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
