.container
  .row
    - if @user_data[:full_name]
      %h1= @user_data[:full_name]
    - else
      %h1
        Your Profile
    %br
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %td
          First Name
        %td= @user_data[:first_name]
      %tr
        %td
          Last Name
        %td= @user_data[:last_name]
      = render "organizer_details" if current_user.organizer
      %tr
        %td
          Phone Number
        %td= @user_data[:phone_number]
      %tr
        %td
          Email
        %td= @user_data[:email]
      %tr
        %td
          Address
        %td= current_user.address.full_address
  .btn
    = link_to "Update Profile", edit_user_path(current_user)
  .btn
    = link_to "Back", home_portal_path
