- @board_members.each do |board_member|
	%h3
		#{board_member[:full_name]}
	%p
		#{board_member[:position]}
	%p
		#{board_member[:full_address]}
	%p
		#{board_member[:phone_number]}
	%p
		#{board_member[:email]}
