= form_for(@volunteer_lead) do |user_form|
  .form-group.row
    .col-sm-4
      = user_form.label :first_name
    .col-sm-8
      .col-sm-8
        = user_form.text_field :first_name
  .form-group.row
    .col-sm-4
      = user_form.label :last_name
    .col-sm-8
      .col-sm-8
        = user_form.text_field :last_name
  .form-group.row
    .col-sm-4
      = user_form.label :email
    .col-sm-8
      .col-sm-8
        = user_form.text_field :email
  .form-group.row
    .col-sm-4
      = user_form.label :phone_number
    .col-sm-8
      .col-sm-8
        = user_form.text_field :phone_number
  .form-group.row
    .col-sm-4
      = user_form.label "How do you want to volunteer"
    .col-sm-8
      .col-sm-8
        =check_box_tag "drive",  1
        =user_form.label "drive"
      .col-sm-8
        =check_box_tag "host",  1
        =user_form.label "host"
      .col-sm-8
        =check_box_tag "other",  1
        =user_form.label "other"
  .row
    .col-sm-4
      .btn
        = user_form.submit "Update"
      .btn
        = link_to "Back", url_for(:back)
