<!-- THIS VIEW IS NOT GETTING HIT RIGHT NOW -->

<!-- NOT THE VIEW FOR THE MODAL VIEW -->

<!-- HOW DO WE WANT TO USE THIS VIEW? -->





%button.btn.btn-ingo.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}= d.day

<!-- Modal -->
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg

    <!-- Modal content-->
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} &amp;times;
        %h4.modal-title Add/Delete On Call Times
      .modal-body
        = form_for :on_call_time do |f|
          Start Time: #{date_select :start_time, :start_time, :class => 'datepicker'}
          End Time: #{date_select :end_time, :end_time, :class => 'datepicker'}
          Volunteer: #{f.collection_select :volunteer_id, available_on_call_volunteers,:id,:first_name, include_blank: true}
          = f.submit
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close

