%button.btn.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}= d.day 

<!-- Modal -->
#myModal.modal.fade{:role => "diolog"}
  .modal-dialog.modal-lg

    <!-- Modal content-->
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &amp;times; 
        %h4.modal-title Add/Delete On Call Times
      .modal-body
        - monthly_on_call = @call_times.find_all { |c| (@beginning_of_month..@end_of_month).cover? c.start_time }
        - monthly_on_call << @call_times.find_all { |c| (@beginning_of_month..@end_of_month).cover? c.start_time }
        - if monthly_on_call.present?
          %ul
            - monthly_on_call.each do |call_time|
              %li
                = call_time.user.first_name rescue nil
                \:
                \#{call_time.start_time.strftime("%d %B") rescue nil} to #{call_time.end_time.strftime("%d %B") rescue nil}
                \#{button_to "Delete", on_call_time_path(call_time), method: :delete, class: "btn.btn-primary" rescue nil}
        -if @errors
          - @errors.each do |error|
            = error
        = render partial: 'form'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close
